# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [52]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [53]:
# Load data here
import pandas as pd
import numpy as np
df = pd.read_csv('data/listings.csv', sep=',')

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
    * Count the amout of names each time appears.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`


Challenge:
* Listings with the word brownstone in the name (hint to come, might move this one later if needed)
    * hint... build a function to check for 'brownstone' and apply that function OR  `df.name.str.????`

In [54]:
# 1. How many listings are there with a price less than 100? 
select_condition = df['price'] < 100
print("Listings less than 100: "+ str(len(df[select_condition])))

Listings less than 100: 22778

In [55]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn of less than $100.
select_condition2 = df['neighbourhood_group'] == "Brooklyn"

df_bk = df[select_condition2]
print("Listings in Brooklyn: "+ str(len(df[select_condition2])))

Listings in Brooklyn: 18632

In [56]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

print("Listings in Brooklyn & less than 100: "+ str(len(df[select_condition & select_condition2])))

Listings in Brooklyn & less than 100: 10473

In [57]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
list_hosts = ["Michael", "David", "John", "Daniel"]

condition = df.host_name.isin(list_hosts)
df["host_name"][condition].value_counts()

Michael    387
David      348
John       270
Daniel     253
Name: host_name, dtype: int64

In [72]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before.
select_condition = df["neighbourhood"] == "Williamsburg"
df["adjusted_price"] = np.where(select_condition, df["price"]+100 , df["price"])
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0,75
6,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,2019-07-29,1.21,4,274,140
7,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,2019-08-10,0.49,1,178,160
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,88
9,6021,Wonderful Guest Bedroom in Manhattan CENTRAL PARK,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,123,2019-12-09,0.90,1,365,85
10,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,65,30,29,2020-07-25,0.22,1,197,65
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
12,6990,UES Beautiful Blue Room / 2 Bedrooms,16800,Cyn,Manhattan,East Harlem,40.78962,-73.94802,Entire home/apt,239,4,233,2019-12-09,1.77,1,365,239
13,7097,Perfect for Your Parents + Garden; Germ-Free,17571,Jane,Brooklyn,Fort Greene,40.69121,-73.97277,Entire home/apt,182,1,229,2020-07-20,1.78,2,325,182
14,7750,2 Furnished bedrooms next to Central Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Private room,96,14,0,NaN,NaN,2,178,96
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
16,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,115,2020-08-13,0.86,2,319,120
17,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,135,1,23,2019-10-14,0.84,2,89,135
18,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,86,4,0,NaN,NaN,1,0,86
19,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,220,3,33,2019-11-11,0.25,1,90,220
20,9704,Spacious 1 bedroom in luxe building,32045,Teri,Manhattan,Harlem,40.81305,-73.95466,Private room,55,2,98,2020-03-14,1.30,1,354,55
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365,70
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365,88
23,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365,150
24,12048,LowerEastSide apt share shortterm 1,7549,Ben,Manhattan,Lower East Side,40.71401,-73.98917,Shared room,40,1,219,2019-11-13,1.67,4,226,40
25,12192,ENJOY Downtown NYC!,46978,Edward,Manhattan,East Village,40.72290,-73.98199,Private room,40,2,262,2020-03-17,1.99,2,46,40
26,12343,BEST BET IN HARLEM,47727,Earl,Manhattan,Harlem,40.81175,-73.94478,Entire home/apt,150,7,107,2019-12-07,0.83,1,364,150
27,12627,Entire apartment in central Brooklyn neighborh...,49670,Rana,Brooklyn,Prospect-Lefferts Gardens,40.65944,-73.96238,Entire home/apt,95,30,13,2019-12-05,0.36,1,156,95
28,12937,"1 Stop fr. Manhattan! Private Suite,Landmark B...",50124,Orestes,Queens,Long Island City,40.74771,-73.94740,Private room,130,2,280,2020-03-15,2.26,1,246,130
29,12940,Charming Brownstone 3 - Near PRATT,50148,Adreinne,Brooklyn,Bedford-Stuyvesant,40.68111,-73.95591,Entire home/apt,100,5,66,2020-03-02,0.51,1,19,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46497,44767959,A very quiet and crime free neighborhood,289154444,Olu,Queens,Rosedale,40.65192,-73.74515,Private room,70,1,0,NaN,NaN,2,139,70
46498,44768081,Home is where the heart is . Sharing mine with...,215027230,Caron,Bronx,Wakefield,40.88655,-73.86012,Private room,152,2,0,NaN,NaN,1,354,152
46499,44769471,Luxury 2 Bedroom 2 Bath Townhouse in Manhattan,1556814,Tammy,Manhattan,Harlem,40.81543,-73.94143,Entire home/apt,250,5,0,NaN,NaN,7,364,250
46500,44770013,Luxury Building. Panoramic Views!,17532419,Elena,Manhattan,Murray Hill,40.74541,-73.97361,Entire home/apt,381,4,0,NaN,NaN,1,360,381
46501,44789250,Private Room Chelsea 4A,241889662,Incentra Village Hotel,Manhattan,Chelsea,40.75049,-73.99528,Private room,62,1,0,NaN,NaN,36,364,62
46502,44789815,Private Room Chelsea 3D,241889662,Incentra Village Hotel,Manhattan,Chelsea,40.74834,-73.99656,Private room,62,1,0,NaN,NaN,36,362,62
46503,44790395,Private Room Chelsea 2D,241889662,Incentra Village Hotel,Manhattan,Chelsea,40.74922,-73.99714,Private room,62,1,0,NaN,NaN,36,365,62
46504,44791688,1 bdrm apt. on Orchard and Broome LES,8737911,Laura,Manhattan,Chinatown,40.71702,-73.99069,Entire home/apt,124,1,0,NaN,NaN,1,321,124
46505,44791984,very convenient area right next to JMZ train,86766592,Gabby,Brooklyn,Bushwick,40.69874,-73.93696,Private room,96,1,0,NaN,NaN,1,174,96
46506,44792997,The Best of the Upper Westside,362369539,Siobhan,Manhattan,Upper West Side,40.79261,-73.97671,Entire home/apt,400,4,0,NaN,NaN,1,4,400
46507,44795562,Spacious Brooklyn Home with Private Roofdeck,4035493,Jessica,Brooklyn,Vinegar Hill,40.70358,-73.98217,Private room,201,5,0,NaN,NaN,1,45,201
46508,44797527,Long-Term: Furnished Apt in Nolita w/ Amenities,19448640,David,Manhattan,Nolita,40.72289,-73.99400,Entire home/apt,140,30,0,NaN,NaN,1,282,140
46509,44798678,Sonder *Private 1BR Apartment* at Battery Park,219517861,Sonder (NYC),Manhattan,Financial District,40.70454,-74.01647,Entire home/apt,1806,2,0,NaN,NaN,43,337,1806
46510,44798876,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67156,-73.91651,Private room,61,30,0,NaN,NaN,5,329,61
46511,44799007,Sonder at Battery Park | Studio with Weekly Di...,219517861,Sonder (NYC),Manhattan,Financial District,40.70439,-74.01470,Entire home/apt,1806,2,0,NaN,NaN,43,337,1806
46512,44799074,Sonder *Weekly Discounts* ADA Studio at Batter...,219517861,Sonder (NYC),Manhattan,Financial District,40.70469,-74.01473,Entire home/apt,169,2,0,NaN,NaN,43,337,169
46513,44800276,"Williamsburg 1 Bedroom, Spacious and Classy",361034257,Angelo + Amirah,Brooklyn,Williamsburg,40.71283,-73.95400,Entire home/apt,180,7,0,NaN,NaN,1,364,280
46514,44801333,Like a home,244745075,Tamar,Queens,Rego Park,40.71973,-73.86140,Private room,45,7,0,NaN,NaN,1,359,45
46515,44801335,Bright & Cozy Nolita 1 Bedroom,361814116,Lorena & Mario,Manhattan,Nolita,40.72035,-73.99436,Entire home/apt,175,7,0,NaN,NaN,1,364,175
46516,44801958,Luxury building apartment in FiDi Manhattan,82696573,Kendall,Manhattan,Financial District,40.70629,-74.00588,Private room,60,120,0,NaN,NaN,1,349,60
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,155
46518,44802224,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67302,-73.91695,Private room,61,30,0,NaN,NaN,5,363,61
46519,44803201,1200 SF Duplex apt in an old shoe factory/ mon...,921746,Michael + Josué,Brooklyn,Clinton Hill,40.69034,-73.96179,Entire home/apt,253,30,0,NaN,NaN,1,74,253
46520,44804690,"Cozy place, peaceful, friendly and affordable.",362419479,Elia,Queens,St. Albans,40.69980,-73.77104,Private room,44,1,0,NaN,NaN,1,161,44
46521,44807338,Modern luxury Chelsea one bedroom,36370873,Ashley,Manhattan,Chelsea,40.74698,-73.99512,Entire home/apt,140,7,0,NaN,NaN,1,358,140
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164,145
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85,87
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,59
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113,80
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,66

In [59]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
select_condition1 = df["room_type"] == "Private room"
select_condition2 = df["room_type"] == "Shared room"

print("% of "+str( (df["room_type"][select_condition1].value_counts() / len(df)) *100))
print("% of "+str( (df["room_type"][select_condition2].value_counts() / len(df)) *100))

% of Private room    45.444581
Name: room_type, dtype: float64
% of Shared room    2.121349
Name: room_type, dtype: float64

In [60]:
#Challenge
df[df["name"].str.contains("brownstone",na = False, case = False)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
29,12940,Charming Brownstone 3 - Near PRATT,50148,Adreinne,Brooklyn,Bedford-Stuyvesant,40.68111,-73.95591,Entire home/apt,100,5,66,2020-03-02,0.51,1,19,100
32,13394,Fort Greene brownstone,52335,Alexander,Brooklyn,Fort Greene,40.69142,-73.97376,Private room,70,1,143,2020-03-19,1.11,1,170,70
34,13808,Blue Room for 2 in Brownstone for $1350 monthly,54275,JT And Tiziana,Brooklyn,Bedford-Stuyvesant,40.68064,-73.94039,Private room,81,2,141,2020-07-12,1.14,3,339,81
70,20717,Room in Brownstone B/Q feet away,78353,Guillaume,Brooklyn,Prospect Heights,40.67832,-73.97243,Private room,85,1,43,2020-03-17,0.52,3,312,85
92,27006,Comfortable UWS 2-BD Family-Friendly Brownstone,115560,Stacy,Manhattan,Upper West Side,40.77823,-73.97637,Entire home/apt,225,6,28,2019-07-12,0.25,1,337,225
125,38663,Luxury Brownstone in Boerum Hill,165789,Sarah,Brooklyn,Boerum Hill,40.68559,-73.98094,Entire home/apt,650,3,23,2018-12-31,0.23,1,365,650
146,45910,Beautiful Queens Brownstone! - 5BR,204539,Mark,Queens,Ridgewood,40.70382,-73.89797,Entire home/apt,339,4,13,2019-11-12,0.12,5,365,339
151,46911,Large Room in private Brownstone in Park Slope,210746,Kathleen R.,Brooklyn,Prospect Heights,40.67868,-73.97307,Private room,100,3,51,2019-06-24,0.42,3,229,100
171,55498,Modern comfort in art infused landmark Brownstone,262138,Tami,Brooklyn,Bedford-Stuyvesant,40.68290,-73.93549,Private room,79,14,42,2020-03-15,0.36,1,108,79
180,57874,The Brownstone-Luxury 1 Bd Apt/NYC,276291,Simon,Manhattan,Harlem,40.80931,-73.94343,Entire home/apt,157,3,258,2020-08-07,2.17,2,319,157
190,60193,The Cozy Brownstone in Harlem,289838,Zakiya,Manhattan,Harlem,40.80481,-73.94777,Private room,150,3,2,2011-08-29,0.02,1,365,150
203,62430,BROWNSTONE SUNDRENCHED BEAUTY,197755,Sheila,Brooklyn,Bushwick,40.68800,-73.91710,Entire home/apt,72,7,129,2020-02-07,1.97,1,0,72
304,100368,Greenwich Village Brownstone -- Huge Private Deck,526105,Scott,Manhattan,Chelsea,40.74056,-74.00143,Entire home/apt,299,31,32,2019-07-05,0.29,1,349,299
306,102995,UWS Brownstone Near Central Park,178043,Chas,Manhattan,Upper West Side,40.78558,-73.96960,Entire home/apt,212,21,45,2018-01-01,0.40,1,44,212
355,141335,Architect's Brownstone,687361,Orna,Brooklyn,Park Slope,40.67535,-73.97654,Entire home/apt,685,1,35,2018-01-13,0.35,1,365,685
377,152263,Cozy apartment in a brownstone,732535,William,Manhattan,Harlem,40.80497,-73.95016,Entire home/apt,300,2,229,2020-03-08,2.11,3,325,300
387,159749,Purple Room for 2/3 in brownstone $1450 per month,54275,JT And Tiziana,Brooklyn,Bedford-Stuyvesant,40.68048,-73.93938,Private room,87,2,76,2020-01-03,0.71,3,348,87
388,159815,Red Room for two in Brownstone for $1355/mo,54275,JT And Tiziana,Brooklyn,Bedford-Stuyvesant,40.68048,-73.93938,Private room,78,7,51,2020-03-01,0.47,3,322,78
398,165080,Amazing Brownstone in Best Brooklyn,618702,Smadar,Brooklyn,Carroll Gardens,40.68090,-73.99233,Entire home/apt,500,7,7,2018-08-29,0.06,1,0,500
437,189787,Spacious & Comfy BK Brownstone,915640,Sundiata,Brooklyn,Crown Heights,40.66788,-73.94813,Entire home/apt,108,4,103,2020-01-01,0.94,1,0,108
439,190968,Lovely Brooklyn Brownstone 1BR!,922922,Karen,Brooklyn,Prospect Heights,40.67946,-73.96501,Entire home/apt,215,3,37,2019-12-28,0.34,1,177,215
463,205485,Ideal Brooklyn Brownstone Apartment,1010242,Zora & Chris,Brooklyn,Bedford-Stuyvesant,40.68186,-73.94113,Entire home/apt,145,3,135,2020-01-03,1.24,1,227,145
467,206473,FURNISHED BROWNSTONE DUPLEX in PARK SLOPE,888420,Ted,Brooklyn,Park Slope,40.67127,-73.97985,Entire home/apt,175,90,7,2014-05-27,0.09,1,57,175
505,228925,Beautiful Brownstone,1194377,Marceline,Brooklyn,Bedford-Stuyvesant,40.67964,-73.93946,Entire home/apt,100,30,10,2019-06-26,0.48,1,363,100
544,245574,Brooklyn Brownstone apartment,1288460,Al-,Brooklyn,Bedford-Stuyvesant,40.68890,-73.95383,Entire home/apt,80,2,185,2020-05-24,1.72,1,311,80
548,248717,Brownstone comfort + beautiful yard,1269526,Amy,Brooklyn,Park Slope,40.67360,-73.98113,Private room,65,1,14,2020-03-08,0.13,2,364,65
657,276317,"The Carlton, Brooklyn brownstone Duplex w/ garden",130901,Chauncey,Brooklyn,Prospect Heights,40.67847,-73.97038,Entire home/apt,550,3,105,2020-03-15,1.00,1,365,550
683,286838,Private Room in Brownstone,1492339,Karin,Manhattan,Harlem,40.80748,-73.95589,Private room,75,2,101,2015-10-31,0.96,1,0,75
686,287421,"Cozy, Clean Cobble Hill Brownstone",1495141,Keow,Brooklyn,Cobble Hill,40.68538,-74.00056,Entire home/apt,140,3,103,2017-08-01,0.99,1,228,140
774,342995,Unique private room and bathroom in Brownstone,1740216,Laura,Manhattan,Harlem,40.81169,-73.94355,Private room,90,2,88,2019-11-30,0.87,2,179,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43783,43071163,Beautiful 1br in UWS brownstone on Central Park,4335378,Madeleine,Manhattan,Upper West Side,40.78692,-73.96869,Entire home/apt,87,6,1,2020-05-13,0.32,1,0,87
43843,43103808,Beautiful Brownstone Apt.,79720116,Cheri,Manhattan,Harlem,40.80727,-73.95054,Entire home/apt,90,30,0,NaN,NaN,1,365,90
43848,43105265,Sun Drenched Duplex in Bed Stuy Brownstone,2065732,Nicole,Brooklyn,Bedford-Stuyvesant,40.68531,-73.94517,Entire home/apt,155,3,0,NaN,NaN,1,88,155
44009,43170693,Brownstone Living with amazing Views!,254420231,Efron,Brooklyn,Bedford-Stuyvesant,40.69039,-73.94224,Entire home/apt,171,1,8,2020-07-25,2.82,1,227,171
44109,43220447,Brooklyn's Best- Sunny & Spacious Brownstone Apt,238380801,Brooklyn,Brooklyn,Fort Greene,40.68801,-73.97699,Entire home/apt,124,3,1,2020-07-31,1.00,1,338,124
44243,43299277,Airy Brooklyn Brownstone - 20% off monthly stays,10782510,Calen,Brooklyn,Clinton Hill,40.68726,-73.96286,Entire home/apt,150,1,1,2020-06-24,0.56,1,8,150
44400,43367498,Huge light-filled historic brownstone,43232214,Nicholas,Brooklyn,Bedford-Stuyvesant,40.68067,-73.93423,Entire home/apt,200,14,0,NaN,NaN,1,103,200
44591,43457355,"Monthly Stay: Large brownstone 1bed, summer he...",4401257,Elizabeth,Brooklyn,Boerum Hill,40.68690,-73.98666,Entire home/apt,75,30,1,2020-08-04,1.00,1,70,75
44612,43466988,Modern brownstone apartment with garden,9407935,Benjamin,Brooklyn,Carroll Gardens,40.68046,-73.99905,Entire home/apt,250,29,0,NaN,NaN,1,108,250
44667,43498999,Gorgeous Bohemian Duplex in Historic Brownstone,66286,Liat,Brooklyn,Bedford-Stuyvesant,40.68487,-73.94075,Entire home/apt,150,1,0,NaN,NaN,3,0,150
44735,43546378,Cozy zen sanctuary w/ garden I Brooklyn browns...,18895623,Nick & Eunice,Brooklyn,Bedford-Stuyvesant,40.68340,-73.92770,Entire home/apt,100,30,1,2020-07-11,0.81,1,71,100
45079,43766271,Hip and Historic Harlem Brownstone Apt.,60063052,Lori,Manhattan,Harlem,40.82702,-73.94235,Entire home/apt,149,31,0,NaN,NaN,1,365,149
45100,43778233,Park Slope 2 BD Brownstone Apt with Private Ga...,1826093,Jack,Brooklyn,Park Slope,40.67144,-73.97444,Entire home/apt,275,4,0,NaN,NaN,1,250,275
45149,43813411,"Luxury apt in a Brownstone in Sobro, The Bronx",74024064,Michael,Bronx,Hunts Point,40.81550,-73.88694,Entire home/apt,98,1,19,2020-08-12,9.66,1,164,98
45176,43824388,Beautiful Brownstone apartment in Park Slope,350484704,Marie,Brooklyn,Park Slope,40.67610,-73.97388,Entire home/apt,160,5,0,NaN,NaN,1,112,160
45184,43831018,Park Slope Brownstone - entire floor,7478124,Igor,Brooklyn,Park Slope,40.67547,-73.97667,Entire home/apt,165,3,2,2020-07-12,1.30,1,20,165
45227,43862926,Sunny 2BR in Historic Bed-Stuy Brownstone,5684621,Maggie,Brooklyn,Bedford-Stuyvesant,40.68945,-73.95428,Entire home/apt,95,7,2,2020-07-24,1.50,1,227,95
45294,43906386,"Brooklyn brownstone on quiet, tree-lined block.",9742120,Jeffrey,Brooklyn,Sunset Park,40.64669,-74.00790,Entire home/apt,110,7,0,NaN,NaN,1,0,110
45335,43928399,One Bedroom Brownstone Beauty,9717514,Jacqueline,Brooklyn,Sunset Park,40.65360,-74.00493,Entire home/apt,150,3,0,NaN,NaN,1,336,150
45571,44073380,Brownstone Studio w/Loft Bedroom by Ft Greene ...,322423295,Michele,Brooklyn,Fort Greene,40.69104,-73.96955,Entire home/apt,75,28,0,NaN,NaN,1,6,75
45656,44154139,Modern Equipped Studio in Bed Stuy Brownstone,49293531,Aliza,Brooklyn,Bedford-Stuyvesant,40.68416,-73.92762,Entire home/apt,90,14,1,2020-08-08,1.00,4,261,90
45743,44210249,Brooklyn brownstone with outdoor space,13098239,Blair,Brooklyn,Clinton Hill,40.68451,-73.96213,Entire home/apt,144,14,0,NaN,NaN,1,30,144
45866,44304516,Central Park Brownstone studio & Private terrace,2644100,Jojo,Manhattan,Upper West Side,40.77929,-73.98380,Entire home/apt,110,10,0,NaN,NaN,1,173,110
45988,44363142,"Beautiful, serene brownstone with outdoor space",16256520,Rochelle,Brooklyn,Bedford-Stuyvesant,40.68302,-73.95782,Entire home/apt,500,4,0,NaN,NaN,1,26,500
46191,44503706,Huge 1 Bed in a Private Historic Brownstone,209279462,Rodrigo,Manhattan,East Harlem,40.79949,-73.93550,Entire home/apt,88,3,0,NaN,NaN,3,358,88
46220,44531911,Private 2 Bed in Historic Brownstone,209279462,Rodrigo,Manhattan,East Harlem,40.79928,-73.93514,Entire home/apt,144,3,0,NaN,NaN,3,355,144
46337,44625524,Renovated Brownstone w/ Yard Near Prospect Park,2771914,Ian,Brooklyn,Windsor Terrace,40.65772,-73.97696,Entire home/apt,995,5,0,NaN,NaN,1,23,995
46349,44631837,Unique and Stylish Park Slope Brownstone triplex,40231738,Thatcher,Brooklyn,Park Slope,40.67032,-73.98052,Entire home/apt,400,30,0,NaN,NaN,2,265,400
46390,44658559,Clean Room w/ Outdoor Deck in Brooklyn Brownstone,4393745,Nelson,Brooklyn,Bedford-Stuyvesant,40.68289,-73.95348,Private room,40,4,0,NaN,NaN,1,74,40
46401,44661851,Luxury Nest in the Sky in a Brownstone,100671934,Fannie,Manhattan,Greenwich Village,40.73145,-73.99466,Entire home/apt,532,29,0,NaN,NaN,2,178,532

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [61]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
df.groupby('neighbourhood_group')["id"].count()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: id, dtype: int64

In [62]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
df.groupby('neighbourhood_group')["price"].mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [63]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
df.groupby('neighbourhood_group')['price'].agg(['min', 'max'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [64]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.
df.groupby(['neighbourhood_group','room_type'])["price"].mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [65]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
gbList = ['neighbourhood_group','room_type']
df.groupby(gbList)["price"].agg( ["count","min","max","mean","median","std"] )

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819     103
                    Private room       722   16    700   68.419668      55
                    Shared room         46   20    800   66.391304      44
Brooklyn            Entire home/apt   9112   20  10000  171.587687     135
                    Hotel room          30    0    399  147.300000     129
                    Private room      9159   10   2500   71.291189      60
                    Shared room        331   15   1500   57.870091      36
Manhattan           Entire home/apt  12209    0  10000  231.335572     165
                    Hotel room         351    0   2211  292.515670     210
                    Private room      7601   10  10000  128.277069      80
                    Shared room        419   10  10000  111.735084      60
Queens              Entire home/apt   2090   10  10000  150.168900     115
                    Hotel room          17    0    249  139.058824     149
                    Private room      3499   18   9000   69.972564      55
                    Shared room        185   14   3000   89.891892      40
Staten Island       Entire home/apt    172   39   1200  151.720930     111
                    Private room       163   20    800   70.312883      55
                    Shared room          6   19     82   46.000000      38

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [66]:
# 1. Load the `prices.csv` and the `n_listings.csv`
pricesDF = pd.read_csv('data/prices.csv', sep=',')
nlistingsDF = pd.read_csv('data/n_listings.csv', sep=';')

In [67]:
# 2. Do join that keeps all the records for each table.
mergeDF = pd.merge(pricesDF, nlistingsDF, on='neighbourhood_group', how='outer')

save_as = 'joined.csv'

mergeDF.to_csv(save_as, index=False)

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [68]:
#  1. Who was won Album of the Year in 2016?
grammyDF = pd.read_csv('data/grammys.csv',sep=",")
select = grammyDF["category"] == "Album of the Year"
select2 = grammyDF["year"] == 2016
select3 = grammyDF["winner"] == True

print(grammyDF[select & select2 & select3]["workers"].to_string())

5505    Taylor Swift (artist/producer), Jack Antonoff ...

In [69]:
# 2. Who won Best Rap Album in 2009?
select = grammyDF["category"] == "Best Rap Album"
select2 = grammyDF["year"] == 2009
select3 = grammyDF["winner"] == True

print(grammyDF[select & select2 & select3]["workers"].to_string())

4396    Lil' Wayne

In [70]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?
select1 = grammyDF["workers"].isin( ["Kendrick Lamar"] )
select2 = grammyDF["winner"] == True
print("Nomination: "+str(grammyDF[select1]["winner"].count()))
grammyDF[select1]

Nomination: 6

,year,category,nominee,workers,winner
5269,2014,Best Rap Album,"Good Kid, M.A.A.D City.",Kendrick Lamar,False
5272,2014,Best Rap Performance,Swimming Pools (Drank).,Kendrick Lamar,False
5448,2015,Best Rap Performance,i.,Kendrick Lamar,True
5596,2016,Best Rap Album,To Pimp a Butterfly.,Kendrick Lamar,True
5599,2016,Best Rap Performance,Alright.,Kendrick Lamar,True
6003,2018,Best Rap Performance,HUMBLE.,Kendrick Lamar,True

In [71]:
print("Winner: "+str(grammyDF[select1 & select2]["winner"].count()))
grammyDF[select1 & select2]

Winner: 4

      year              category               nominee         workers  winner
5448  2015  Best Rap Performance                    i.  Kendrick Lamar    True
5596  2016        Best Rap Album  To Pimp a Butterfly.  Kendrick Lamar    True
5599  2016  Best Rap Performance              Alright.  Kendrick Lamar    True
6003  2018  Best Rap Performance               HUMBLE.  Kendrick Lamar    True